body {
	font-family: 'Didact Gothic', sans-serif;


}

* {
	/*font-family: Helvetica, sans-serif;*/
	box-sizing: border-box;
}


.navButton {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
	padding: .5em;
	background-color: #ca597c;
	border-width: 0 0 1px;
}

.navButton a {
	color: #eee;
	text-decoration: none;
	padding: 0 0 0 .5em;
}

i {
 	font-size: 1em;
 	color: #eee;
 	padding: 0 1em 0 0;
 	transition: color .5s;
 }

i:hover {
 	color: #333;
 }

 #nav {
 	position: fixed;
 	top: 2em;
 	left: -72%;
 	width: 72%;
 	margin: 0;
 	height: 100%;
 	background-color: #333;
 	background-color: rgba(0,0,0,.84);
 	transition: left .5s;
}

#nav:target {
	left: 0;
}

nav {
	z-index: 1000;
}

nav ul {
	margin: 0;
	padding: 0;
	margin-top: .5em;
}
nav li {
	list-style: none;
	margin: 0;
	padding: 0;	
}

nav li a {
	color: #eee;
	text-decoration: none;
	display: block;
	padding: .5em 1em;
	transition: all .5s;
}

nav li a:hover {
	color: #eee;
	text-decoration: none;
	background-color: #eee;
	color: #333;
}

/* produces a blank line in mobile nav, but is
hidden when on wider screens. */
.hiddenLink {
	display: block;
}


/********************************************/
/* MEDIA QUERIES */
/********************************************/

@media only screen and (min-width: 30em) {
	.navButton {
		display: none;
	}

	#nav {
	 	margin: 0;
	 	width: 100%;
	 	height: auto;
	 	background-color: #333;
	 	/*CHANGES THE BACKGROUND COLOR OF NAV IN DESKTOP*/
	 	background-color: rgba(225, 176, 112, 1);
	 	position: static;
	}

	nav {
		margin: 0;
	}

	nav ul {
		text-align: center;
		margin: 0;
	}

	nav li {
		display: inline;
	}

	nav li a {
		display: inline-block;
		padding: .5em 1em;
		color: #fff;
	}

	.hiddenLink {
		display: none;
	}
}


/* Large and up */
@media screen and (min-width: 64em) {}



/*HEADER*/
header{
    background-color: #ca597c;
}


@media only screen and (min-width: 30em) {
   
     header .logo {
	   width: 300px;
	   
    }
    
	header .logo img {
		width: 100%;
	}
}


@media screen and (min-width: 64em) {
	

	header .logo {
	   width: 300px;
	   /*position: absolute;*/
	   left: 50%;
	   
  }
	header .logo img {
		width: 100%;

	}

}




/*.line-separator{

     height:1px;
     background:#ffffff;
     border-bottom:.1em solid #e1b070;
     margin: 0;

}
*/



/*BUTTON DECORATION*/
.button, .buttonExpand {
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 2em auto;
	padding: 1em;	
	width: 135px;
	background-color: #eee;
	color: #ca597c;
	border: 1px solid #ca597c;
	border-radius: 5px;
	cursor: pointer;
	transition: all .5s;
}

.button:hover {
	background-color: #444;
	color: #ca597c;
}

/*HOME PAGE*/

.playingtoday h2 {
     padding-top: 1em;
     padding-bottom: 1em;
     font-family: 'Cookie', cursive;
     padding-left: .5em;
     color: #e1b070;
     font-size: 2em;
     margin: 0;
     font-weight: 200;
}


.comingsoon h2 {
     padding-top: 1em;
     padding-bottom: 1em;
     font-family: 'Cookie', cursive;
     padding-left: .5em;
     color: #e1b070;
     font-size: 2em;
     margin: 0;
     font-weight: 200;
}


.location h2 {
     padding-top: 1em;
     padding-bottom: 1em;
     /*font-family: 'Cookie', cursive*/;
     padding-left: .5em;
     color: #e1b070;
     font-size: 1.5em;
     margin: 0;
}


iframe {
	width: 100%;
	/*height: auto;*/
}



/*PLAYING NOW PAGE*/
.movies h2 {
     padding-top: 1em;
     padding-bottom: 1em;
     font-family: 'Cookie', cursive;
     padding-left: .5em;
     color: #e1b070;
     font-size: 2em;
     margin: 0;
     font-weight: 200;
}



/*MOVIE POSTER ONE*/
.movieposterone img {
	height: auto;
	width: 100%;
	padding: 1em;
}
.movieposterone h3 {
	padding-left: .8em;
	margin: 0;
}
.movieposterone p {
	padding-left: 1em;
	padding-right: 1em;
}



/*MOVIE POSTER TWO*/
.moviepostertwo img {
	height: auto;
	width: 100%;
	padding: 1em;
}
.moviepostertwo h3 {
	padding-left: .8em;
	margin: 0;
}
.moviepostertwo p {
	padding-left: 1em;
	padding-right: 1em;
}



/*MOVIE POSTER THREE*/
.movieposterthree img {
	height: auto;
	width: 100%;
	padding: 1em;
}
.movieposterthree h3 {
	padding-left: .8em;
	margin: 0;
}
.movieposterthree p {
	padding-left: 1em;
	padding-right: 1em;
}



/*MOVIE POSTER FOUR*/
.movieposterfour img {
	height: auto;
	width: 100%;
	padding: 1em;
}
.movieposterfour h3 {
	padding-left: .8em;
	margin: 0;
}
.movieposterfour p {
	padding-left: 1em;
	padding-right: 1em;
}



/*MOVIE POSTER FIVE*/
.movieposterfive img {
	height: auto;
	width: 100%;
	padding: 1em;
}
.movieposterfive h3 {
	padding-left: .8em;
	margin: 0;
}
.movieposterfive p {
	padding-left: 1em;
	padding-right: 1em;
}


/*MOVIE POSTER SIX*/
.moviepostersix img {
	height: auto;
	width: 100%;
	padding: 1em;
}
.moviepostersix h3 {
	padding-left: .8em;
	margin: 0;
}
.moviepostersix p {
	padding-left: 1em;
	padding-right: 1em;
}






/*COMING SOON PAGE*/
.headline h2 {
     padding-top: 1em;
     padding-bottom: 1em;
     font-family: 'Cookie', cursive;
     padding-left: .5em;
     color: #e1b070;
     font-size: 2em;
     margin: 0;
     font-weight: 200;
}


/*NIGHTMARE BEFORE CHRISTMAS*/
.thenightmare h3 {
	padding-left: .8em;
	margin: 0;
}
.thenightmare img{
    height: auto;
	width: 100%;
	padding: 1em;
}



/*CORALINE*/
.coraline h3 {
	padding-left: .8em;
	margin: 0;
}
.coraline img{
	height: auto;
	width: 100%;
	padding: 1em;
}



/*NAUSICAAOFTHEVALLEY*/
.nausicaaofthevalley h3 {
	padding-left: .8em;
	margin: 0;
}
.nausicaaofthevalley img{
    height: auto;
	width: 100%;
	padding: 1em;
}



/*MULAN*/
.mulan h3 {
	padding-left: .8em;
	margin: 0;
}
.mulan img{
    height: auto;
	width: 100%;
	padding: 1em;
}

/*PRICES PAGE*/
.prices h2 {
     padding-top: 1em;
     padding-bottom: 1em;
     font-family: 'Cookie', cursive;
     padding-left: .5em;
     color: #e1b070;
     font-size: 2em;
     margin: 0;
     font-weight: 200;
}



/*FOOTER*/
footer {
	background-color: #ca597c;
	text-align: center;
	padding: 2.5em;
	margin: 0;
}

footer .copyright {
	color: #fff;
}


footer .social-links {
	list-style-type: none;
	text-align: center;
	margin: 1em;
}

footer .social-links li{
	 display: inline-block;
}


footer .social-links li a{
      text-decoration: none;
}	











